    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    body{
    background-color: rgb(34, 34, 34);
    }

    @-ms-viewport {width: device-width;}

    @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/4.woff2?v=l2sud670') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    main.container{
    max-width: 100%;
    background-color: #fff;
    background-position-y: center;
    background-repeat: repeat-y;
    }

    main.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    }

    .col-sm-12-s101{
    position: relative;
    width: 100%;
    min-height: 1px;
    }

    .col-sm-12-s101 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }

    .row-s101 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }

    .spacing{padding: 0.1rem;}


    /***************************** Roots Color ******************************************/

    :root{
    --background-white: #ffff;
    --background-black: #000;

    --text-white: #fff;
    --text-preto: #000;    
    --text-bronw: #483c33;
    --text-silver: #626262;
    }

    .txt-branco {color: var(--text-white);}
    .txt-preto{color: var(--text-preto)}
    .txt-bronw{color: var(--text-bronw);}
    .txt-silver{color: var(--text-silver);}

    .boxcolor-white{background-color: var(--background-white);}
    .boxcolor-black{background-color: var(--background-black);}

    /***************************** Img ******************************************/

    img {vertical-align: middle; border-style: none;}
    .video-size{max-width: 100%; height: auto;}

    .img-fluid {max-width: 100%; height: auto;}
    .img-mob{display: none;}
    .img-desk{display: block;}
    .img-size{width: 45%}


    /***************************** Grid ******************************************/

    .video-01-grid {
    position: absolute;
    top: -52%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    width: 60%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    }

    .video-02-grid{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    width: 60%;
    height: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    }

    .grid-title {
    position: absolute;
    top: -52%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    width: 60%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    }

    .grid-03 {
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 1rem;
    }

    .grid-04 {
    position: absolute;
    right: 0;
    left: 190px;
    top: -80px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 33%;
    height: 16vh;

    align-content: stretch;
    justify-content: flex-start;
    }

    .grid-05 {
    display: flex;
    flex-direction: row;
    height: auto;
    align-content: center;
    flex-wrap: nowrap;
    gap: 0.05rem;
    }

    .grid-06 {
    position: absolute;
    right: 0;
    left: 20%;
    top: 24%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 59%;
    height: 0.9rem;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    gap: 0.3rem;
    }

    .grid-07{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    width: 60%;
    height: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    }

    .grid-08 {
    position: absolute;
    top: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    z-index: 1;
    width: 68%;
    height: 2rem;
    flex-wrap: wrap;
    }

    .grid-13 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    width: 60%;
    height: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    }

    .grid-17{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    width: 60%;
    height: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    }

    
    .grid-18{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: flex-start;
        width: 60%;
        height: 1rem;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        }



    .grid-21{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: flex-start;
    width: 60%;
    height: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    }

    .grid-two-block{
    display: flex;
    }

    .grid-nota{
    padding: 0.5rem;
    }

    /***************************** Fonts Text ******************************************/

    .text-title{
    font-family: 'Camphor Pro';
    font-size: 0.3rem;
    font-weight: 800;
    font-display: swap;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.5;
    }

    .subtitle {
    font-family: 'Camphor Pro';
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #483c33, #70645a, #ccbeb3);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000;
    font-size: .625rem;
    line-height: 1.2;
    text-align: start;
    }

    .subtitle-green{
    font-family: 'Camphor Pro';
    font-size: 0.7rem;
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #c7d27f, #edf1ce, #bcc37a);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000;
    text-align: start;
    }

    .subtitle-orange{
    font-family: 'Camphor Pro';
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(-135deg, #e73f57, #f3af1d);
    -webkit-background-clip: text;
    background-clip: text;
    color: #fff;
    font-size: .64453rem;
    line-height: .71875rem;
    text-align: start;
    width: 4.92188rem;
    }

    .subtitle-bronw {
    text-align: left;
    font-size: 0.2rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    .subtitle-notas {
    text-align: left;
    font-size: 0.13rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    .subtitle-left-green {
    text-align: left;
    font-size: 0.3rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #c7d27f, #edf1ce, #bcc37a);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }

    .subtitle-left {
    text-align: left;
    font-size: 0.23rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    .subtitle-center {
    text-align: center;
    font-size: 0.23rem;
    font-weight: bold;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.3;
    }

    .p-center{
    font-size: 0.2rem;
    font-weight: 300;
    text-align: center;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }

    .p-left{
    font-size: .13rem;
    font-weight: 200;
    text-align: left;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    line-height: 1.5;
    overflow-wrap: break-word;
    }

    .info {
    text-align: left;
    font-weight: 200;
    color: var(--text-silver);
    line-height: 1.3;
    font-size: 0.1rem;
    font-family: 'Camphor Pro', sans-serif;
    width: 42%;
    margin: 0 auto;
    padding: 0.2rem;
    }

    .notas{
    text-align: left;
    font-weight: 200;
    font-size: 0.08rem;
    font-family: 'Camphor Pro', sans-serif;
    color: #7d7d7d;
    text-align: start;
    }

    #slide-text {
    text-align: center;
    font-size: 0.2rem;
    font-family: 'Camphor Pro', sans-serif;
    }

    /*****************************************************/


    #slider {
    width: 100%;
    overflow: hidden;
    }

    #slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    }

    .slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 0.5rem;
    }

    .slide img {
    width: 100%;
    height: auto;
    }

    #dots-container {
    text-align: center;
    margin-top: 10px;
    }

    .dot {
    height: 50px;
    width: 50px;
    margin: 0 5px;

    display: inline-block;
    transition: transform 0.3s ease;
    }

    .dot:nth-child(1) {
    background: url(../media/desktop/img03-1-1.png); background-repeat: no-repeat;/* Cor do dot para o Item 01 */
    }

    .dot:nth-child(2) {
    background: url(../media/desktop/img03-2-1.png); background-repeat: no-repeat;/* Cor do dot para o Item 02 */
    }

    .dot:nth-child(3) {
    background: url(../media/desktop/img03-3-1.png); background-repeat: no-repeat;/* Cor do dot para o Item 03 */
    }


    .dot.active {transform: scale(1.2); /* Aumenta o tamanho do dot ativo */}

    .slider-container03 {
    width: 100%;
    height: 100vh; /* Usa a altura total da viewport */
    overflow: hidden;
    position: relative;
    }

    .slider03 {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    }

    .slide03 {
    flex: 0 0 100%; /* Cada slide ocupa 100% da largura do contêiner */
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

    /***************************** Mobile *************************************/

    @media only screen and (max-width: 920px) {

    main.container{overflow-x: hidden;}
    .spacing{padding: 0.3rem;}
    .video-size{max-width: 100%; height: auto;}

    .img-desk{display: none;}
    .img-mob{display: block;}
    .img-size{width: 70%}
    /***************************** Grid ************************************/
    .slide03 {
    font-size: 1.5rem;
    }
    .grid-title {
    position: absolute;
    top: -56%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    z-index: 1;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;}

    .grid-03 {
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 0.1rem;
    }

    .grid-04 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    }


    .grid-06 {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 13rem;

    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }

    .grid-nota{
    padding: 0.1rem;
    }

    .slide {
    min-width: 100%;
    }
    /***************************** Fonts Text **************************/

    .text-title{
    font-family: 'Camphor Pro';
    font-size: 0.2rem;
    font-weight: 800;
    font-display: swap;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.5;
    text-align: center;
    }

    .subtitle {
    font-family: 'Camphor Pro';
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(135deg, #483c33, #70645a, #ccbeb3);
    -webkit-background-clip: text;
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #000;
    font-size: 0.5rem;
    line-height: 1.2;
    text-align: start;
    }


    .subtitle-orange{
    font-family: 'Camphor Pro';
    font-weight: 800;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(-135deg, #e73f57, #f3af1d);
    -webkit-background-clip: text;
    background-clip: text;
    color: #fff;
    font-size: 0.4rem;
    line-height: 1rem;
    text-align: start;
    width: 4.92188rem;

    }

    .subtitle-bronw {
    text-align: left;
    font-size: 0.2rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }


    .subtitle-notas {
    text-align: left;
    font-size: 0.13rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    .subtitle-left {
    text-align: left;
    font-size: 0.13rem;
    font-weight: 900;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    .subtitle-center {
    text-align: center;
    font-size: 0.13rem;
    font-weight: bold;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.3;
    }

    .p-center {
    font-size: 0.1rem;
    text-align: center;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    color: #737373;
    line-height: 1.3;
    }

    .p-left {
    font-size: 5rem;
    text-align: left;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    line-height: 1.5;
    overflow-wrap: break-word;
    }

    .p-info {
    text-align: left;
    line-height: 1.3;
    font-size: 0.3rem;
    font-family: 'Camphor Pro', sans-serif;
    line-height: 1.5;
    }
    .p-info-center {
    text-align:center;
    line-height: 1.3;
    font-size: 0.3rem;
    font-family: 'Camphor Pro', sans-serif;
    line-height: 1.3;
    }

    .p-notas{
    text-align: left;
    font-size: 0.1rem;
    font-family: 'Camphor Pro', sans-serif;
    line-height: 1.3;
    padding: 0.0rem;
    }

    #slide-text {
    text-align: center;
    font-size: 0.2rem;
    font-family: 'Camphor Pro', sans-serif;
    }



    }    